@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Comic+Neue:wght@300&family=Merienda&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-fonte-menu: #fba802;
    --fonte-menu-principal: 'Bubblegum Sans', cursive;
    --fonte-titulos: 'Merienda', cursive;
    --fonte-texto: 'Comic Neue', cursive;
    --fonte-texto-alt: 'Source Code Pro', monospace;
}

ul, li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

/************ HEADER - CABECALHO ************/ 
.header {
    background-image: url('./img/img-cabecalho.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.img-logo {
    width: 300px;
    margin: 0 auto;
    /* margin-top: 1rem; */
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 1.25rem;
}

.menu-itens {
    color: var(--cor-fonte-menu);
    font-size: 1.5rem;
    font-family: var(--fonte-menu-principal);
    font-size: 2rem; /* 32px */
    padding: 0.75rem; /* 12px */
    border-bottom: transparent;
    cursor: pointer;
    
}

.menu-itens:hover {
    border-bottom: 2px solid #fba802;
    transition: all 0.5s;
}

.menu-itens a {
    color:#fba802;
}

/************ MAIN ************/ 
.marcas {
    background-color: #fff;
}

.marcas h2 {
    padding: 2rem;
    text-align: center;
    font-family: var(--fonte-titulos);
    font-size: 2.5rem; /* 40px */
    color: #fba802;
}

.patrocinios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
    background-color: aquamarine;
    
}

.patrocinios img {
    width: 100px;
}

/************ HAPPY-HOUR SECTION ************/ 

.happy-hour {
    padding-top: 1.5rem;
    background-image: url('./img/background-madeira-escura.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;
    position: relative;
}

.happy-hour-titulo {
    font-family: var(--fonte-titulos);
    text-align: center;
    padding: 1.5rem;  /* 24px */
    font-size: 2.5rem; /* 40px */
    color: #fff;
}

.copo-detahe {
    position: absolute;
    bottom: 480px;
    
}

/* .copo-detalhe-invertido {
    position: absolute;
    left: 980px;
    top: -50px;
} */

.happy-hour p {
    color: #fff;
    font-family: var(--fonte-texto-alt);
    max-width: 500px;
    margin: 0 auto;
    padding: 0.75rem;
}

.galeria-happy-hour {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
}

.galeria-happy-hour img {
    width: 340px;
}

.galeria-happy-hour img:hover {
    box-shadow: 0 0 10px 3px #fff;
    transition: all 0.7s;
}

/************ CARDÁPIO - SECTION ************/ 
.cardapio {
    padding-top: 1.5rem;
    background-image: url('./img/background-madeira-escura.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    /* position: relative; */

    position: relative;
}

.cardapio-titulo {
    font-family: var(--fonte-titulos);
    text-align: center;
    padding: 1.5rem;  /* 24px */
    font-size: 2.5rem; /* 40px */
    color: var(--cor-fonte-menu);

}

.menu-cardapio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.menu-cardapio p {
    display: block;
    text-align: center;
    padding: 0.75rem;
    font-family: var(--fonte-titulos);
    color: var(--cor-fonte-menu);
    font-size: 1.25rem;
}


.img-menu-cardapio {
    width: 100px;
    /* background-color: burlywood; */
    padding: 10px;
    border: transparent;
}

.lista-cardapio {
    padding: 1rem;
}

.lista-cardapio:active {
    transform: scale(0.95);
}

.lista-cardapio:hover {
    box-shadow: 0 0 10px 1px #fba802;
    transition: all 0.8s;
}

.lista-cardapio:active {
    background-color: #b4882f;
}

.lista-cardapio a {
    font-family: var(--fonte-titulos);
    color: var(--cor-fonte-menu);
    font-size: 1.75rem;
    padding: 0.75rem;
}

.cardapio-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.img-cardapio {
    display: inline-block;
    width: 40px;
}

/************ MODAL CARDÁPIO - SECTION ************/ 
.modal-cardapio {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 3rem;
}

.modal-petiscos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
    box-shadow: 0px 0px 20px 1px var(--cor-fonte-menu);
    padding: 1.75rem;
}

.modal-petiscos h2 {
    color: var(--cor-fonte-menu);
    font-family: var(--fonte-titulos);
    font-size: 3rem;
    margin-bottom: 0.75rem;
    text-align: center;
}

.modal-petiscos h3 {
    color: var(--cor-fonte-menu);
    font-family: var(--fonte-texto-alt);
    font-size: 1.5rem;
}

.descricao {
    padding: 1rem;
}

.descricao:hover {
    box-shadow: 0px 0px 1px 1px var(--cor-fonte-menu);
    transition: all 0.7s;
}

.descricao h3  {
    font-size: 1.25rem;
}

.desc-produto {
    color: var(--cor-fonte-menu);
}

.desc-produto::before {
    content: "🍖";
    display: inline-block;
}

.desc-quantidade {
    color: #fff;
    font-family: var(--fonte-texto-alt);
    font-size: 1rem;
}

.desc-preco {
    font-weight: bold;
}

.pedido {
    padding: 1rem;
}

.btn-pedido {
    padding: 1rem;
    background-color: var(--cor-fonte-menu);
    font-family: var(--fonte-titulos);
    /* max-width: 200px; */
    text-align: center;
    font-size: 1.25rem;
    border-radius: 6px;
}

.btn-pedido:hover {
    background-color: #fff;
    transition: all 0.6s;
}

.modal-bedidas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
    box-shadow: 0px 0px 20px 1px var(--cor-fonte-menu);
    padding: 1.75rem;
}

.modal-bedidas h2 {
    color: var(--cor-fonte-menu);
    font-family: var(--fonte-titulos);
    font-size: 3rem;
    margin-bottom: 0.75rem;
    text-align: center;
}

.modal-self-service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
    box-shadow: 0px 0px 20px 1px var(--cor-fonte-menu);
    padding: 1.75rem;
}

.modal-self-service h2 {
    color: var(--cor-fonte-menu);
    font-family: var(--fonte-titulos);
    font-size: 3rem;
    margin-bottom: 0.75rem;
    text-align: center;
}


/************ SECTION GALERIA FOTOS ************/ 
.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

.section-galeria h2 {
    padding: 2rem;
    text-align: center;
    font-family: var(--fonte-titulos);
    font-size: 2.5rem; /* 40px */
    color: #fba802;
}

/************ RESPONSIVIDADE ************/ 

@media(max-width: 768px) {
    .modal-petiscos {
       grid-template-columns: 1fr; 
    }
    .modal-petiscos h2 {
        font-size: 2.5rem;
    }
}

@media(max-width: 425px) {
    .galeria {
        grid-template-columns: 1fr;
    }
}








