@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Comic+Neue:wght@300&family=Merienda&family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

:root {
    --cor-fonte-menu: #fba802;
    --fonte-menu-principal: 'Bubblegum Sans', cursive;
    --fonte-titulos: 'Merienda', cursive;
    --fonte-texto: 'Comic Neue', cursive;
    --fonte-texto-alt: 'Source Code Pro', monospace;
}

ul, li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

/************ HEADER - CABECALHO ************/ 
.header {
    background-image: url('./img/img-cabecalho.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.img-logo {
    width: 300px;
    margin: 0 auto;
    /* margin-top: 1rem; */
}

#btn-mobile {
    display: none;
    padding: 1rem;
    margin: 0 auto; 
    background-color: var(--cor-fonte-menu);
    font-family: var(--fonte-titulos);
    text-align: center;
    font-size: 1.25rem;
    border-radius: 6px;
    
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 1.25rem;
}

.menu-itens {
    color: var(--cor-fonte-menu);
    font-size: 1.5rem;
    font-family: var(--fonte-menu-principal);
    font-size: 2rem; /* 32px */
    padding: 0.75rem; /* 12px */
    border-bottom: transparent;
    cursor: pointer;
}

.menu-itens:hover {
    border-bottom: 2px solid #fba802;
    transition: all 0.5s;
}

.menu-itens a {
    color:#fba802;
}

/************ MAIN ************/ 
.marcas {
    background-color: #fff;
    /* position: relative; */
}

.marcas h2 {
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fonte-titulos);
    font-size: 2.5rem; /* 40px */
    color: #000;
    background-color: #ffa300;
}

.patrocinios {
    height: 20vh;
    /* max-width: ; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffa300;
}

.patrocinios-banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    align-items: center;
    max-width: 900px;
    padding: 1rem;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 800ms;
    position: absolute;

}

.selected-banner {
    opacity: 1;
}

.patrocinios-banner img {
    width: 100px;
}

/************ HAPPY-HOUR SECTION ************/ 
.happy-hour {
    padding-top: 1.5rem;
    background-image: url('./img/background-madeira-escura.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 760px;
    position: relative;
    box-shadow: inset 0 0 10px 1px #fba802;
}

.happy-hour-titulo {
    font-family: var(--fonte-titulos);
    text-align: center;
    padding: 1.5rem;  /* 24px */
    font-size: 2.5rem; /* 40px */
    color: #fff;
}

.copo-detahe {
    position: absolute;
    bottom: 480px;
    
}

/* .copo-detalhe-invertido {
    position: absolute;
    left: 980px;
    top: -50px;
} */

.happy-hour p {
    color: #fff;
    font-family: var(--fonte-texto-alt);
    max-width: 500px;
    margin: 0 auto;
    padding: 0.75rem;
}

.galeria-happy-hour {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
}

.galeria-happy-hour img {
    width: 340px;
}

.galeria-happy-hour img:hover {
    box-shadow: 0 0 10px 3px #fff;
    transition: all 0.7s;
}

/************ CARDÁPIO - SECTION ************/ 
.cardapio {
    padding-top: 1.5rem;
    background-image: url('./img/background-madeira-escura.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    /* margin-bottom: 1rem; */
}

.cardapio-titulo {
    font-family: var(--fonte-titulos);
    text-align: center;
    padding: 1.5rem;  /* 24px */
    font-size: 2.5rem; /* 40px */
    color: var(--cor-fonte-menu);

}

.menu-cardapio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;

}

.cardapio-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.img-menu-cardapio {
    width: 100px;
    /* background-color: burlywood; */
    padding: 10px;
    border: transparent;
}

.lista-cardapio {
    padding: 1rem;
    box-shadow: 3px 1px 2px 1px #fff;
}

.lista-cardapio:active {
    transform: scale(0.95);
}

.lista-cardapio:hover {
    box-shadow: 0 0 10px 1px #fba802;
    transition: all 0.8s;
}


.lista-cardapio a {
    font-family: var(--fonte-titulos);
    color: var(--cor-fonte-menu);
    font-size: 1.75rem;
    padding: 0.75rem;
    cursor: pointer;
}

.lista-cardapio a:hover {
    color: #fff;
}

.img-cardapio {
    display: inline-block;
    width: 40px;
}

/************ MODAL CARDÁPIO - SECTION ************/ 
.modal-cardapio {
    max-width: 900px;
    margin: 0 auto;
    padding: 3rem 0rem;
}

.petiscos section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
    box-shadow: 0px 0px 20px 1px var(--cor-fonte-menu);
    padding: 1.75rem;
}

.petiscos h2 {
    color: var(--cor-fonte-menu);
    font-family: var(--fonte-titulos);
    font-size: 3rem;
    margin-bottom: 0.75rem;
    text-align: center;
}

.petiscos h3 {
    color: var(--cor-fonte-menu);
    /* font-family: var(--fonte-texto-alt); */
    font-size: 1.5rem;
}

.descricao {
    padding: 1rem;
    border-bottom: solid 1px #fff;
}

.descricao:hover {
    background-color: #6e6758;
    transition: all 0.7s;
    border-bottom: solid 1px #000;

}

.descricao h3  {
    font-size: 1.25rem;
}

.desc-produto {
    color: var(--cor-fonte-menu);
    font-family: var(--fonte-texto);
    text-transform: uppercase;
}

.desc-produto::before {
    content: " * ";
    display: inline-block;
}

.desc-quantidade {
    color: #fff;
    font-family: var(--fonte-texto-alt);
    font-size: 1rem;
}

.desc-preco {
    font-weight: bold;
    color: var(--cor-fonte-menu);
    font-size: 1.5rem;
}

.pedido {
    padding: 1rem;
    margin-top: 14px;
}

.btn-pedido {
    padding: 1rem;
    background-color: var(--cor-fonte-menu);
    font-family: var(--fonte-titulos);
    text-align: center;
    font-size: 1.25rem;
    border-radius: 6px;
}

.btn-pedido:hover {
    background-color: #fff;
    transition: all 0.6s;
}

.bedidas section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
    box-shadow: 0px 0px 20px 1px var(--cor-fonte-menu);
    padding: 1.75rem;
}

.bedidas h2 {
    color: var(--cor-fonte-menu);
    font-family: var(--fonte-titulos);
    font-size: 3rem;
    margin-bottom: 0.75rem;
    text-align: center;
}

.self-service section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
    box-shadow: 0px 0px 20px 1px var(--cor-fonte-menu);
    padding: 1.75rem;
}

.self-service h2 {
    color: var(--cor-fonte-menu);
    font-family: var(--fonte-titulos);
    font-size: 3rem;
    margin-bottom: 0.75rem;
    text-align: center;
}


/************ SECTION GALERIA FOTOS ************/ 
.galeria {
    display: flex;
    /* gap: 2rem; */
    padding: 2rem;
    /* justify-content: center; */
}

#galeria {
    background-image: url("./img/background-madeira-escura.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 10px 1px #fba802;
    height: 600px;
}

.galeria-album {
    margin: 1rem;
}

/* .img-galeria:hover {
    transform: perspective(800px) rotateY(0deg);
    opacity: 1;
} */

/* .section-galeria {
    padding-bottom: 2rem;
    margin-top: 10px;

    background-color: aquamarine;
} */

.section-galeria h2 {
    padding: 2rem;
    text-align: center;
    font-family: var(--fonte-titulos);
    font-size: 2.5rem; /* 40px */
    color: #fba802;
}

/************ SECTION SOBRE NÓS ************/
.sobre {
    background-image: url('./img/background-chopp.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
}

.sobre-nos-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-content: flex-end;
    justify-items: end;
    align-items: flex-end;
    height: 600px;
}

.sobre-nos-img img {
    width: 400px;
    display: none;
}

.sobre-nos {
    max-width: 700px;
}
.sobre-nos h1 {
    padding: 1.5rem;
    text-align: center;
    font-family: var(--fonte-titulos);
    font-size: 5rem; /* 40px */
    color: #fff;
} 

.sobre-nos h2 {
    text-align: center;
    font-family: var(--fonte-titulos);
    font-size: 1.75rem; /* 40px */
    color: #fff;    
}

.sobre-nos p {
    font-family: var(--fonte-texto);
    color: #fff;
    text-align: center;
    padding: 0.7rem;
    font-size: 1.25rem;
}

/************ SECTION FOOTER ************/
.footer {
    background-image: url('./img/background-footer.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    box-shadow: inset 0 0 10px 1px #fba802;
}

.footer-informacoes {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-around;
    height: 600px;
}

figure.logo {
    margin: 0px;
}

.logo {
    margin: 0 auto;
    padding: 1rem;
}

.logo-rodape {
    width: 300px;
}

.redes-sociais {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    /* background-color: skyblue; */
    /* margin: 0 auto; */
}

.img-rede-socias {
    width: 40px;
}

.img-rede-socias:hover {
    width: 37px;
    transition: all 0.5s;
}

.endereco {
    padding: 1rem;
    /* background-color: blue; */
}

.endereco h2 {
    color: #ffa300;
    font-family: var(--fonte-titulos);
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.endereco p {
    color: #fff;
    font-family: var(--fonte-titulos);
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.horarios {
    /* background-color: wheat; */
    padding: 1rem;
}

.horarios h2 {
    color: #ffa300;
    font-family: var(--fonte-titulos);
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.horarios p {
    color: #fff;
    font-family: var(--fonte-titulos);
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.horarios a {
    margin: 0 auto;
}

.desenvolvedor {
    background-color: #FFA300;
    padding: 0.5rem;
    text-align: center;
}

.desenvolvedor span {
    font-family: var(--fonte-texto-alt);
    font-weight: bold;
    font-size: 1rem;
    color: #000;
    padding: 0.5rem;
}

.desenvolvedor a {
    font-family: var(--fonte-texto-alt);
    font-weight: bold;
    font-size: 1rem;
    color: #000;
    padding: 0.5rem;

}

.desenvolvedor a:hover {
    background-color: #fff;
    transition: all 0.6s;
    border-radius: 5px;
}

.desenvolvedor img {
    width: 30px;
    display: inline-block;
    text-align: center;
    position: relative;
    top: 6px;
    left: 4px;
}

/*********** JAVASCRIPT *************/

.js-cardapio section {
    display: none;
  }
  
.js-cardapio section.ativo {
    display: block;
    animation: show .9s forwards;
  }

@keyframes show {
    from {
      opacity: 0;
      transform: translate3d(-30px, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

/************ RESPONSIVIDADE ************/ 

/* DISPOSITIVOS MÉDIOS - TABLET */ 
@media(min-width:426px) and (max-width: 1048px) {
    article.happy-hour {
        height: 1200px;
    }

    .copo-detahe {
        display: none;
    }    
}

/* DISPOSITIVOS PEQUENOS - CELULARES */ 
@media(min-width:425px) and (max-width:692px) {

    .copo-detahe {
        display: none;
    } 
}

@media(min-width:320px) and (max-width: 424px) {
    
    .patrocinios {
        height: 15vh;
    }


    .galeria-happy-hour img {
        width: 300px;
        margin: 0 auto;
    }

    .copo-detahe {
        display: none;
    }

    .galeria {
        grid-template-columns: 1fr;
    }

    #galeria {
        height: 400px;
    }

    .sobre-nos h1 {
        font-size: 2.3rem;
    }

    .sobre-nos h2 {
        font-size: 1.5rem;
    }

    .marcas h2 {
        font-size: 1.5rem;
        padding: .5rem;
    }

    .img-cardapio {
        display: none;
    }

    .lista-cardapio {
        padding: 0.4rem;
    }

    .lista-cardapio a {
        font-size: 0.75rem;
    }

    .cardapio-itens {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
    }

    
}

@media(min-width:516px) and (max-width:768px) {
    article.happy-hour {
      max-height: 1000px;
    }
}

@media(min-width:425px) and (max-width: 768px) {
    .galeria {
        grid-template-columns: 1fr 1fr;
    }

    #galeria {
        height: 400px;
    }

    .sobre-nos h1 {
        font-size: 2.3rem;
    }

    .sobre-nos h2 {
        font-size: 1.5rem;
    }
}

@media(min-width:320px) and (max-width:768px) {
    
    #btn-mobile {
        display: block;
    }

    #menu {
        display: none;
        text-align: center;
    }

    #nav.active #menu {
        display: block;
        text-align: center;
        visibility: visible;
    }

    .header {
        height: 740px;
    }
    
    article.happy-hour {
        height: 1300px;
    }
    
    .footer {
        height: 1030px;
    }
    
    .footer-informacoes {
        height: 1030px;
    }

    .endereco p, .horarios p {
        font-size: 1.20rem;
    }

    .endereco h2, .horarios h2 {
        font-size: 2rem;
    }

    .logo-rodape {
        width: 200px;
    }

    .galeria-happy-hour img {
        width: 250px;
    }

    .sobre {
        background-attachment: fixed;
    }
}

@media(min-width:500px) and (max-width:768px) {
    #galeria {
        height: 400px;
    }
}

@media(min-width:1442px) and (max-width:2560px) {
    .galeria {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}
